/*===== GOOGLE FONTS =====*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
$header-height: 3rem;

/*===== VARIABLES CSS =====*/
:root{
    --header-height: 3rem;

    /*===== Colors =====*/
    --first-color: #FCA4A6;
    --first-color-dark: #C1576A;
    --first-color-darken: #A83E51;
    --white-color: #FCF8F8;

    /*===== Font and typography =====*/
    --body-font: 'Poppins', sans-serif;
    --big-font-size: 2.5rem;
    --normal-font-size: .938rem;
  
    /*===== z index =====*/
    --z-fixed: ;
}

@media screen and (min-width: 768px){
    :root{
        --big-font-size: 5rem;
        --normal-font-size: 1rem;
    }
}

/*===== BASE =====*/
*,::before,::after{
    box-sizing: border-box;
}
:root {
    --first-color: #0396A6;
    --dark-color: #000;
    --white-color: #6495ED;
    --white-color1: #ffffff;
  }
  
  /*=== Fuente y tipografia ===*/
  :root {
    --body-font: 'Open Sans', sans-serif;
    --biggest-font-size: 3.5rem;
    --h2-font-size: 1.25rem;
    --normal-font-size: 0.938rem;
  }
  
  @media screen and (min-width: 768px) {
    :root {
      --biggest-font-size: 7rem;
      --h2-font-size: 1.5rem;
      --normal-font-size: 1rem;
    }
  }
  
  /*=== z index ===*/
  :root {
    --z-back: -10;
    --z-normal: 1;
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;
    --z-may:99;
  }
  
  /*===== BASE =====*/
  *, ::before, ::after {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }

body{
    margin: var(--header-height) 0 0 0;
    padding: 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    font-weight: 500;
}

h1,p,ul{
    margin: 0;
}

ul{
    padding: 0;
    list-style: none;
}

a{
    text-decoration: none;

}

img{
    max-width: 100%;
    height: auto;
}


/*===== LAYOUT =====*/
.bd-grid{
    max-width: 2200px;
    display: grid;
    grid-template-columns: 100%;
    column-gap: 2rem;
    width: calc(100% - 2rem);
    margin-left: 1rem;
    margin-right: 1rem;
    
}


.l-header{
    width: 100%;
    opacity :1;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-color: var(--white-color);
    z-index: 2000;
}

/*===== NAV =====*/

.nav{
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: var(--z-fixed);

    &__menu{
        @media screen and (max-width: 2000px){
            position: fixed;
            top: 0;
            right: -100%;
            width: 240px;
            height: 100%;
            padding: 3.5rem 1.5rem 0;
            background: rgba(255, 255, 255, 0.3);
            backdrop-filter: blur(10px);
            transition: .5s;

        }
    }
    &__close{
        position: absolute;
        top: .5rem;
        left: 1rem;
        font-size: 1.5rem;
        cursor: pointer;
    }
    &__item{
        margin-bottom: 2rem;
    }

    &__close,  &__logo, &__toggle{
        color: var(--white-color1);
        z-index: var(--z-fixed);
    }
    &__logo{
        padding-left: 35px;
    }
    &__link{
        color: var(--white-color);
        &:hover{
            color: var(--first-color-dark);
        }
    }
    &__toggle{
        font-size: 1.5rem;
        cursor: pointer;
    }
}


/*=== Show menu ===*/
.show{
    right: 0;
}
/*===== HOME =====*/


.home__parallax-img6 {
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    animation:animate 1000s linear infinite ;
    background-image: url('cloud.png');
    z-index: var(--z-tooltip);

}
@keyframes animate {
    0%{
        background-position: 0px;
    }
    100%{
        background-position: 5400px;
    }
    
}

.home__parallax-img7 {
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    animation:animate 100s linear infinite ;
    background-image: url('cloud2.png');
    z-index: var(--z-fixed);

}
@keyframes animate {
    0%{
        background-position: -1922px;
    }
    100%{
        background-position: 5400px;
    }
    
}


.home{
    height: 100vh;
    overflow: hidden;
    position: relative;

    &__parallax{
        width: 100%;
        height: 100%;
        position: absolute;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;

        &-img1{
            background-image: url('anh1.png');
            z-index: var(--z-normal);
        }
        &-img2{
            background-image: url('anh2.png');
            z-index: var(--z-tooltip);
        }
        &-img3{
            background-image: url('anh3.png');
            z-index: var(--z-fixed );
        }
        &-img4{
            background-image: url('anh4.png');
            z-index: var(--z-fixed );
        }
        &-img5{
            background-image: url('anh5.png');
            z-index: var(--z-fixed);
            
        }
        &-img6{
          

        }
    }

    &__title,&__title1,&__subtitle{
        position: absolute;
        width: 100%;
        display: flex;
        justify-content: left;
        color: var(--white-color1);
    }

    &__title{
        top: 32%;
        font-size: var(--biggest-font-size);
        z-index: var(--z-normal);
    }
    &__title1{
        left:60%;
        top: 15%;
        font-size: var(--biggest-font-size);
        z-index: var(--z-normal);
    }
    &__subtitle{
        top: 44%;
        font-size: var(--h2-font-size);
        font-weight: bold;
        z-index: var(--z-tooltip);
    }
    &__scroll{
        position: absolute;
        bottom: 2.5rem;
        width: 100%;
        display: flex;
        justify-content: center;
        font-size: 1.5rem;
        z-index: var(--z-modal);

        & .bx-mouse{
            color: var(--white-color);
        }
    }
}

/*===== SECTION =====*/
.l-section{
    background-color: var(--dark-color); 
}

.section{
    height: 68vh;
    max-width: 1000px;
    margin-left: 1rem;
    margin-right: 1rem;
    padding: 2rem 0;
    color: var(--white-color);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    &__data{
        margin-bottom: 3rem;
    }
    &__title{
        font-size: var(--h2-font-size);
        color: var(--first-color);
        margin-bottom: 1rem;
    }
    &__img{
        width: 285px;
        border-radius: .5rem;
    }

}
.section2{
    height: 50vh;
    max-width: 1000px;
    margin-left: 1rem;
    margin-right: 1rem;
    padding: 2rem 0;
    color: var(--white-color);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    &__data{
        margin-bottom: 3rem;
    }
    &__title{
        font-size: var(--h2-font-size);
        color: var(--first-color);
        margin-bottom: 1rem;
    }
    &__img{
        width: 285px;
        border-radius: .5rem;
    }

}
.du{
    background-image: url("bg.jpg");
    margin-top:500px;
}

/*===== MEDIA QUERIES =====*/
@media screen and(min-width: 760px){
 
        
    .contact{
        
        &__container{
            grid-template-columns: repeat(2,1fr);
            justify-items: center;
        }
        &__form{
            width: 380px;
        }
    }
    .du{
        background-image: url("bg.jpg");
        margin-left: 200px;
        margin-right: 200px;
        margin-top:500px;
    }

    .home{
        &__title{
            top: 27%;
        }
        &__subtitle{
            top: 50%;
        }
    }

    .section{
        flex-direction: row;
        margin-left: auto;
        margin-right: auto;

        &__text{
            padding-right: 4rem;
        }

        &__img{
            width: 470px;
        }
    }
}
@media screen and (min-width: 1200px){
    .bd-grid{
        margin-left: 0;
        margin-right: 0;
    }
}
@media screen and (min-width: 1200px){
    .bd-grid1{
        margin-left: 0;
        margin-right: 0;
    }
}
/* ===== ABOUT =====*/
.about{
   
    &__subtitle{
        font-size: var(--h2-font-size);
        color: var(--first-color);
        margin-bottom: var(--mb-1);
        text-align: center;
    }
    &__text{
        margin-bottom: var(--mb-4);
        text-align: center;
    }
    &__profession{
        display: block;
        margin-bottom: var(--mb-4);
        text-align: center;
    }
    &__social{
        text-align: center;
        &-icon{
            font-size: 1.4rem;
            margin: 0 var(--mb-1);

            &:hover{
                color: var(--first-color);
            }
        }
    }
}

/* ===== CONTACT =====*/


.bxl-linkedin{
    padding-right:20px;
}
.bxl-github{
    padding:20px;
}

.bxl-dribbble{
    padding:20px;
}
    
.contact{
    &__container{
        row-gap: 2rem;
    }
    &__subtitle{
        font-size: var(--normal-font-size);
        color: var(--first-color);
    }
    &__text{
        display: inline-block;
        margin-bottom: var(--mb-2);
    }
    &__inputs{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 1rem;
    }
    &__input{
        width: 100%;
        padding: .8rem;
        outline: none;
        border: 1.5px solid var(--dark-color);
        font-size: var(--normal-font-size);
        margin-bottom: var(--mb-4);
        border-radius: .5rem;
    }
    &__button{
        display: block;
        background-color: var(--first-color);
        color: var(--white-color);
        padding: .75rem 2.5rem;
        margin-left: auto;
        border-radius: .5rem; 
        border: none;
        outline: none;
        font-size: var(--normal-font-size);
        cursor: pointer;
    }
}
/* ===== PORTFOLIO =====*/
.portfolio{
    background-color: var(--white-color);


    &__img{
        position: relative;
        overflow: hidden;
        
        & img{
            border-radius: .5rem;
            margin-left: 0%;
            margin-right: 0%;
        }
        
        &:hover .portfolio__link{
            bottom: 0;
        }
    }

    &__link{
        position: absolute;
        bottom: -100%;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgba(255, 255, 255, 0.3);
        border-radius: .5rem;
        cursor: pointer;
        backdrop-filter: blur(10px);
        transition: .3s;

        &-name{
            color: var(--dark-color);
        }
    }
}


@media screen and(min-width: 570px){

  
.sticky {
    position: fixed;
    top: var(--header-height);
background-color:white;
    max-width: 1265px;


    margin-left: auto;
    margin-right:auto;

z-index: 1000;

  }
  
.sticky {
    padding-top: var(--header-height);
    padding: 4rem 0;
  }

}

  #myheader2{
      height: 160px;
  }

  .search{

          font-size: 2rem;
          color:rgb(116, 118, 146) ;

      
  }
  .search :hover{
    color:rgb(16, 167, 194) ;
    

}

.banner{
    opacity: 1;

    margin: auto;
    width: 970px;
   
    height: 68vh;

    padding: 2rem 0;
    margin-top: 0.2%;
    color: var(--white-color);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    transition: transform 2s ease-in-out;

}
.banner1{
    background-color:#e2f4de;
}
.banner2{
    background-color:#B0C4DE;
}
.banner3{
    background-color:#B0E0E6;
}
.banner4{
    background-color:#F5DEB3;
}
.banner_zom{
    transform: scale(0.95);
}

.chungtoi{
   padding-top: 25%;
}

.bookingg{
    transform: scale(0.95);
    overflow: auto;
    border: #FCA4A6 3px;
    background-color: #d4c5c5;
    transition: transform 2s ease-in-out;
    opacity: 1;
    width: 970px;
    height: 53vh;
    padding: 2rem 0;
    color: var(--white-color);
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    transition: transform 1.5s ease-in-out;
}

#anhdu{
    height: 50%;
}

.quan {
    margin-left: -10px;
    overflow-x: hidden;
    overflow-y: auto;
    width: 1050px;
  }
  
  .prolayer-fly {
    margin-top: -10px;
    margin-bottom: -5px;
  }
  
  .prolayer3 {
    margin-top: 10px;
    margin-bottom: 5px;
    margin-left: -5px;
  }
  
  .prolayze {
    margin-top: -50px;
    margin-left: 68px;
    cursor: pointer;
  }
  
  .prolayer2 {
    margin-top: 20px;
    margin-bottom: 17px;
    margin-left: -15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  
  .prolay-sky {
    margin-top: 20px;
    margin-bottom: -5px;
  }
  
  .prolayer {
    margin-top: -10px;
    margin-bottom: 10px;
    margin-left: -5px;
  }
  
  .yasuo {
    margin-top: -10px;
    margin-bottom: 10px;
    margin-left: -20px;
  }
  
  .list-fly {
    margin-left: 195px;
    margin-top: -50px;
  }
  
  .list-skyline {
    margin-left: 100px;
    margin-top: -50px;
  }
  
  .list-money {
    margin-left: 220px;
    margin-top: -50px;
  }
  
  .list-animals {
    margin-left: 200px;
    margin-top: -50px;
  }
  
  .list-member {
    margin-left: 100px;
    margin-top: -50px;
  }
  
  .list-smilt {
    margin-left: 220px;
    margin-top: -50px;
  }
  
  .list-sockets {
    margin-left: 180px;
    margin-top: -50px;
  }
  
  .list-dual {
    margin-left: 100px;
    margin-top: -50px;
  }
  
  .list-quite {
    margin-left: 220px;
    margin-top: -50px;
  }
  
  .list-probi {
    margin-left: 195px;
    margin-top: -50px;
  }
  
  .list-single {
    margin-left: 100px;
    margin-top: -50px;
  }
  
  .list-happy {
    margin-left: 220px;
    margin-top: -50px;
  }
  
  .list-sock {
    margin-left: 190px;
    margin-top: -50px;
  }
  
  .list-du {
    margin-left: 100px;
    margin-top: -50px;
  }
  
  .list-qui {
    margin-left: 220px;
    margin-top: -50px;
  }
  
  .prolay {
    margin-top: -55px;
    margin-left: 70px;
  }
  
  .prolayy {
    margin-top: -60px;
    margin-left: 60px;
    margin-bottom: -5px;
  }
  
  b {
    font-size: 14px;
    color: black;
  }
  
  p {
    font-size: 13px;
    color: black;
  }
  
  .khoangtrang {
    height: 220px;
    background-color: #ffffff;
  }



  #myCarousel .carousel-item .mask {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-attachment: fixed
}

#myCarousel h4 {
    font-size: 50px;
    margin-bottom: 15px;
    color: #FFF;
    line-height: 100%;
    letter-spacing: 0.5px;
    font-weight: 600
}

#myCarousel p {
    font-size: 18px;
    margin-bottom: 15px;
    color: #d5d5d5
}

#myCarousel .carousel-item a {
    background: #FF0000;
    font-size: 14px;
    color: #FFF;
    padding: 13px 32px;
    display: inline-block
}

#myCarousel .carousel-item a:hover {
    background: #FF0000;
    text-decoration: none
}

#myCarousel .carousel-item h4 {
    -webkit-animation-name: fadeInLeft;
    animation-name: fadeInLeft
}

#myCarousel .carousel-item p {
    -webkit-animation-name: slideInRight;
    animation-name: slideInRight
}

#myCarousel .carousel-item a {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp
}

#myCarousel .carousel-item .mask img {
    -webkit-animation-name: slideInRight;
    animation-name: slideInRight;
    display: block;
    height: auto;
    max-width: 100%
}

#myCarousel h4,
#myCarousel p,
#myCarousel a,
#myCarousel .carousel-item .mask img {
    -webkit-animation-duration: 1s;
    animation-duration: 1.2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both
}

#myCarousel .container {
    max-width: 1430px
}

#myCarousel .carousel-item {
    height: 100%;
    min-height: 550px
}

#myCarousel {
    position: relative;
    z-index: 1;
    background: #000;
    background-size: cover
}

.carousel-control-next,
.carousel-control-prev {
    height: 40px;
    width: 40px;
    padding: 12px;
    top: 50%;
    bottom: auto;
    transform: translateY(-50%);
    background-color: #FF0000
}

.carousel-item {
    position: relative;
    display: none;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    transition: -webkit-transform .6s ease;
    transition: transform .6s ease;
    transition: transform .6s ease, -webkit-transform .6s ease;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-perspective: 1000px;
    perspective: 1000px
}

.carousel-fade .carousel-item {
    opacity: 0;
    -webkit-transition-duration: .6s;
    transition-duration: .6s;
    -webkit-transition-property: opacity;
    transition-property: opacity
}

.carousel-fade .carousel-item-next.carousel-item-left,
.carousel-fade .carousel-item-prev.carousel-item-right,
.carousel-fade .carousel-item.active {
    opacity: 1
}

.carousel-fade .carousel-item-left.active,
.carousel-fade .carousel-item-right.active {
    opacity: 0
}

.carousel-fade .carousel-item-left.active,
.carousel-fade .carousel-item-next,
.carousel-fade .carousel-item-prev,
.carousel-fade .carousel-item-prev.active,
.carousel-fade .carousel-item.active {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0)
}

@supports (transform-style:preserve-3d) {

    .carousel-fade .carousel-item-left.active,
    .carousel-fade .carousel-item-next,
    .carousel-fade .carousel-item-prev,
    .carousel-fade .carousel-item-prev.active,
    .carousel-fade .carousel-item.active {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }
}

.carousel-fade .carousel-item-left.active,
.carousel-fade .carousel-item-next,
.carousel-fade .carousel-item-prev,
.carousel-fade .carousel-item-prev.active,
.carousel-fade .carousel-item.active {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
}

@-webkit-keyframes fadeInLeft {
    from {
        opacity: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0)
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }
}

@keyframes fadeInLeft {
    from {
        opacity: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0)
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }
}

.fadeInLeft {
    -webkit-animation-name: fadeInLeft;
    animation-name: fadeInLeft
}

@-webkit-keyframes fadeInUp {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0)
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0)
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }
}

.fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp
}

@-webkit-keyframes slideInRight {
    from {
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
        visibility: visible
    }

    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }
}

@keyframes slideInRight {
    from {
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
        visibility: visible
    }

    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }
}

.slideInRight {
    -webkit-animation-name: slideInRight;
    animation-name: slideInRight
}